.bg-faction-lightbearer {
  background-color: rgb(var(--color-f-lb));
}

.bg-faction-wilder {
  background-color: rgb(var(--color-f-wilder));
}

.bg-faction-graveborn {
  background-color: rgb(var(--color-f-gb));
}

.bg-faction-mauler {
  background-color: rgb(var(--color-f-mauler));
}

.bg-faction-celestial {
  background-color: rgb(var(--color-f-cele));
}

.bg-faction-hypogean {
  background-color: rgb(var(--color-f-hypo));
}

.bg-faction-dimensional {
  background-color: rgb(var(--color-f-dim));
}