html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
	background: rgb(var(--color-bg-light));
	color: rgb(var(--color-text));
}

body.off-scroll {
	overflow-y: hidden;
}

:root {
	--color-black: 0 0 0;
	--color-white: 255 255 255;
	--color-bg: 34 40 49;
	--color-bg-light: 57 62 70;
	--color-f-lb: 31 59 111;
	--color-f-wilder: 34 95 66;
	--color-f-gb: 63 90 45;
	--color-f-mauler: 128 76 46;
	--color-f-cele: 136 104 30;
	--color-f-hypo: 63 34 75;
	--color-f-dim: 59 70 121 ;
	--color-theme: 0 173 181;
	--color-text: 238 238 238;
	--color-theme-dark: 1 85 89;
	--color-theme-light: 23 245 255;
}