.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(var(--color-black) / 0.7);
  padding: 15px;

  &__wrapper {
    min-width: 290px;
    width: 100%;

    .modal--s & {
      max-width: 480px;
    }

    .modal--m & {
      max-width: 640px;
    }

    .modal--l & {
      max-width: 720px;
    }

    .modal--xl & {
      max-width: 920px;
    }

    .modal--full & {
      max-width: 80%;
    }
  }

  &__header {

  }

  &__content {

  }

  &__footer {

  }
}