:root {
  --color-black: 0 0 0;
  --color-white: 255 255 255;
  --color-bg: 34 40 49;
  --color-bg-light: 57 62 70;
  --color-f-lb: 31 59 111;
  --color-f-wilder: 34 95 66;
  --color-f-gb: 63 90 45;
  --color-f-mauler: 128 76 46;
  --color-f-cele: 136 104 30;
  --color-f-hypo: 63 34 75;
  --color-f-dim: 59 70 121 ;
  --color-theme: 0 173 181;
  --color-text: 238 238 238;
  --color-theme-dark: 1 85 89;
  --color-theme-light: 23 245 255;
}

// rgb value COLORS
$color-val-black: var(--color-black);
$color-val-white: var(--color-white);
$color-val-bg: var(--color-bg);
$color-val-bg-light: var(--color-bg-light);
$color-val-f-lb: var(--color-f-lb);
$color-val-f-wilder: var(--color-f-wilder);
$color-val-f-gb: var(--color-f-gb);
$color-val-f-mauler: var(--color-f-mauler);
$color-val-f-cele: var(--color-f-cele);
$color-val-f-hypo: var(--color-f-hypo);
$color-val-f-dim: var(--color-f-dim);
$color-val-theme: var(--color-theme);
$color-val-text: var(--color-text);
$color-val-theme-dark: var(--color-theme-dark);
$color-val-theme-light: var(--color-theme-light);

// rgb COLORS
$color-black: rgb(var(--color-black));
$color-white: rgb(var(--color-white));
$color-bg: rgb(var(--color-bg));
$color-bg-light: rgb(var(--color-bg-light));
$color-f-lb: rgb(var(--color-f-lb));
$color-f-wilder: rgb(var(--color-f-wilder));
$color-f-gb: rgb(var(--color-f-gb));
$color-f-mauler: rgb(var(--color-f-mauler));
$color-f-cele: rgb(var(--color-f-cele));
$color-f-hypo: rgb(var(--color-f-hypo));
$color-f-dim: rgb(var(--color-f-dim));
$color-theme: rgb(var(--color-theme));
$color-text: rgb(var(--color-text));
$color-theme-dark: rgb(var(--color-theme-dark));
$color-theme-light: rgb(var(--color-theme-light));